In [3]:
# Importamos las librerias necesarias para trabajar los datasets.

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

In [4]:
# Creamos DataFrames con los archivos '.csv' y '.json' entregados.

amazon2 = pd.read_csv('./Datasets/amazon_prime_titles.csv')
disney2 = pd.read_csv('./Datasets/disney_plus_titles.csv')
hulu2 = pd.read_csv('./Datasets/hulu_titles.csv')
netflix2 = pd.read_json('./Datasets/netflix_titles.json')

In [5]:
# Se crea una copia de seguridad, para poder correr el código sin errores las veces que se necesite. 
# Por ejemplo: error con columnas borradas (que no pueden borrarse de nuevo).

amazon = amazon2.copy()
disney = disney2.copy()
hulu = hulu2.copy()
netflix = netflix2.copy()

In [6]:
# Creamos una columna 'plataforma' para cada DataFrame.

amazon['plataforma'] = 'amazon'
disney['plataforma'] = 'disney'
hulu['plataforma'] = 'hulu'
netflix['plataforma'] = 'netflix'

In [7]:
stream_svc = pd.concat([amazon, disney, hulu, netflix], ignore_index=True)
stream_svc.insert(0,'index', stream_svc.index)

In [8]:
stream_svc.head(3)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon

In [9]:
#Se separa la columna 'duration' en 2 y se renombran las nuevas columnas.

stream_svc = pd.concat([stream_svc, stream_svc['duration'].str.split(expand=True)], axis=1)
stream_svc.rename(columns= {0:'dur_min', 1:'dur_temp'}, inplace=True)

In [10]:
# Se eliminan las columnas innecesarias para los querys solicitados (incluida la columna recién separada 'duration').

stream_svc.drop(['show_id','director','country','date_added','rating','duration','description'], inplace=True, axis=1)

In [11]:
stream_svc.head(3)

,index,type,title,cast,release_year,listed_in,plataforma,dur_min,dur_temp
0,0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",amazon,113,min
1,1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",amazon,110,min
2,2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",amazon,74,min

In [12]:
stream_svc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         22998 non-null  int64
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          17677 non-null  object
 4   release_year  22998 non-null  int64
 5   listed_in     22998 non-null  object
 6   plataforma    22998 non-null  object
 7   dur_min       22516 non-null  object
 8   dur_temp      22516 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

In [13]:
# Se rellenan los valores NaN: 1) en la columna 'minutos' por valores '0' luego se convierte a 'int', 2) en el dataframe por 'sin dato'.

stream_svc['dur_min'] = stream_svc['dur_min'].replace(np.nan, 0)
stream_svc = stream_svc.astype({'dur_min':'int'})
stream_svc = stream_svc.fillna('sin dato')

In [14]:
stream_svc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         22998 non-null  int64
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          22998 non-null  object
 4   release_year  22998 non-null  int64
 5   listed_in     22998 non-null  object
 6   plataforma    22998 non-null  object
 7   dur_min       22998 non-null  int32
 8   dur_temp      22998 non-null  object
dtypes: int32(1), int64(2), object(6)
memory usage: 1.5+ MB

In [15]:
#stream_svc

In [16]:
#Se crean nuevos dataframes para importarlos como tablas en MySQL

cast = stream_svc[['index','cast']].copy()
listed_in = stream_svc[['index','listed_in']].copy()

In [17]:
stream_svc.drop(['cast','listed_in'], inplace=True, axis=1)

In [18]:
stream_svc

,index,type,title,release_year,plataforma,dur_min,dur_temp
0,0,Movie,The Grand Seduction,2014,amazon,113,min
1,1,Movie,Take Care Good Night,2018,amazon,110,min
2,2,Movie,Secrets of Deception,2017,amazon,74,min
3,3,Movie,Pink: Staying True,2014,amazon,69,min
4,4,Movie,Monster Maker,1989,amazon,45,min
...,...,...,...,...,...,...,...
22993,22993,Movie,Zodiac,2007,netflix,158,min
22994,22994,TV Show,Zombie Dumb,2018,netflix,2,Seasons
22995,22995,Movie,Zombieland,2009,netflix,88,min
22996,22996,Movie,Zoom,2006,netflix,88,min
22997,22997,Movie,Zubaan,2015,netflix,111,min

In [19]:
#Investigar la columna 'dur_min' para los valores igual a '0'.
#stream_svc[stream_svc["dur_min"]==151]

#stream_svc[stream_svc[["title"] == 'The House That Jack Built']]

In [20]:
#Se genera la conexión con MySQL.

engine = create_engine("mysql+pymysql://root:lala@localhost/PI01")

In [ ]:
#Se importan los dataframes como tablas en MySQL.

stream_svc.to_sql("stream_svc",con=engine,index=False,if_exists='append')
cast.to_sql("cast",con=engine,index=False,if_exists='append')
listed_in.to_sql("genero",con=engine,index=False,if_exists='append')

In [22]:
# Finalmente creamos los archivos CSV de nuestros dataframes.

stream_svc.to_csv('C:/soyHENRY/ProyectoIndividual n1/Datasets/stream_svc.csv')
cast.to_csv('C:/soyHENRY/ProyectoIndividual n1/Datasets/cast.csv')
listed_in.to_csv('C:/soyHENRY/ProyectoIndividual n1/Datasets/listed_in.csv')